selenium
webdriver-manager

#Flask
Flask~=2.2.3
Flask-Bcrypt
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-Testing
Flask-WTF
Werkzeug
Jinja2~=3.1.2
email-validator
beautifulsoup4
bs4
WTForms~=3.0.1
requests

#Python testing
pytest~=7.2.2
pytest-mock

#Utils
alembic
attrs
bcrypt
certifi
chardet
click
dnspython
greenlet
idna
iniconfig
itsdangerous~=2.1.2
jsonify
Mako
Markdown
MarkupSafe
packaging
pluggy
psycopg2-binary
python-decouple
python-dotenv
soupsieve
SQLAlchemy~=2.0.7
typing_extensions
urllib3
pytest-cov
dependency-injector
APScheduler


gunicorn

