selenium
webdriver-manager

#Flask
Flask
Flask-Bcrypt
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-Testing
Flask-WTF
Werkzeug
Jinja2
email-validator
beautifulsoup4
bs4
WTForms
requests

#Python testing
pytest
pytest-mock

#Utils
alembic
attrs
bcrypt
certifi
chardet
click
dnspython
greenlet
idna
iniconfig
itsdangerous
jsonify
Mako
Markdown
MarkupSafe
packaging
pluggy
psycopg2-binary
python-decouple
python-dotenv
soupsieve
SQLAlchemy
typing_extensions
urllib3
pytest-cov


gunicorn

