{% extends 'base.html' %}

{% block content %}


{% include "products/single_product.html" %}



<div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 flex flex-wrap items-center text-base justify-center">
        <a class="mr-5 px-6 py-2 text-white bg-indigo-500 hover:bg-indigo-600 rounded" href="{{ url_for('products.index', tab=1 )}}">Opinie</a>
        <a class="mr-5 px-6 py-2 text-white bg-indigo-500 hover:bg-indigo-600 rounded" href="{{ url_for('products.index', tab=2) }}">Sklepy</a>
    </nav>
</div>


{% if tab == 1 %}
{% include "products/reviews.html" %}

{% endif %}


{% endblock %}